<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <!-- Favicon -->
    <link rel="icon" href="/images/favicon.ico">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Crimson+Pro&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!-- Bootstrap Scripts -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Local Stylesheet -->
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>PomoTomo</title>
  </head>
  <body>

  <!-- A container to contain the shape of the website if large display -->
  <div class="master-container">

    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
      <a class="navbar-brand" href="/front">
        <i class="far fa-clock mr-2"></i>PomoTomo
      </a>
      <ul class="navbar-nav ml-auto">
          <li class="nav-item ml-auto">
            <a class="nav-link" href="/about">
              About
            </a>
          </li>
      </ul>
    </nav>


<!-- SUB-MASTER CONTAINER -->
<!-- To contain the contents within the page not including navbars -->
<div class="sub-master-container">


<!-- Extra spacing (Needed due to fixed top navbar) -->
    <div class="my-5">

    </div>
