<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <link rel="icon" href="/images/favicon.ico">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!-- Bootstrap Scripts -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Social Buttons Scripts -->
    <link rel="stylesheet" href="/stylesheets/bootstrap-social.css">

    <!-- Local Stylesheet -->
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>PomoTomo</title>
  </head>
  <body>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/front">PomoTomo</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item ml-auto">
            <a class="nav-link" href="/front">Home</a>
          </li>
          <li class="nav-item ml-auto">
            <a class="nav-link" href="/about">About</a>
          </li>

        <% if (!currentUser) { %>
          <li class="nav-item ml-auto">
            <a class="nav-link" href="/register">Register</a>
          </li>
          <li>
            <a id="register-btn" class="nav-link">registaa</a>
          </li>
          <li class="nav-item ml-auto">
            <a class="nav-link" href="/login">Login</a>
          </li>
        <% } else { %>
          <li class="nav-item ml-auto">
            <a class="nav-link user-stats-link" href="/user/<%= currentUser._id %>">
              <% if (currentUser.name) { %>
                <%= currentUser.name %>'s Stats
              <% } else { %>
                <% let end = currentUser.username.indexOf("@"); %>
                <% let name = currentUser.username.slice(0, end); %>
                <%= name %>'s Stats
              <% } %>
            </a>
          </li>
          <li class="nav-item ml-auto">
            <a class="nav-link" href="/user/<%= currentUser._id %>/edit">Time Settings</a>
          </li>
          <li class="nav-item ml-auto">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        <% } %>
      </ul>
      </div>

      <div id="register-form" class="invisible">
        <div class="card register-card p-4">
          <h1 class="display-4 text-center">Register</h1>

          <a class="btn btn-lg btn-block btn-social btn-google mt-3" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Google Sign Up
          </a>

          <a class="btn btn-lg btn-block btn-social btn-facebook mt-2 mb-3" href="/auth/google" role="button">
            <i class="fab fa-facebook"></i>
            Facebook Sign Up
          </a>

          <form class="" action="/register" method="post">
            <input class="form-control form-control-lg mb-2" type="email" name="username" placeholder="Email">
            <input class="form-control form-control-lg mb-4" type="password" name="password" placeholder="Password">
            <div class="text-center">
              <button class="btn btn-lg btn-info w-100" type="submit" name="button">Sign Up</button>
            </div>
          </form>


        </div>
      </div>
    </nav>
