<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <!-- Semantic UI CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">

    <!-- Local Stylesheet -->
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>PomoTomo</title>
  </head>
  <body>
