<%- include partials/header %>

<div class="card about-card mt-4 mx-auto py-4 px-5">
  <h1 class="display-4 question">What is this?</h1>
  <p>This is a timer for the pomodoro method.</p>

  <h1 class="display-4 question">What is the pomodoro method?</h1>
  <p>It is a method for productivity created by Mr. Francesco Cirillo</p>

  <h1 class="display-4 question">How do I use this?</h1>
  <ol>
    <li>Choose a task you need to do.</li>
    <li>Start the pomodoro timer.</li>
    <li>Work on the task until the alarm goes off.</li>
    <li>Start your five minute break.</li>
    <li>Repeat!</li>
    <li>Every four rounds you can take a longer 15 minute break!</li>
  </ol>

  <h1 class="display-4 question">Also!</h1>
  <p>On this website you can login to:</p>
  <ul>
    <li>Save your finished pomodoro rounds.</li>
    <li>Keep your sound settings for your next session.</li>
    <li>Customize the duration of your pomodoro and break round!</li>
  </ul>
</div>


<%- include partials/footer %>
