<%- include partials/header %>

<h1>
  <span class="min"></span>:
  <span class="sec"></span>
</h1>

<button class="start-btn" type="button" name="button">
  Start</button>

<button class="pause-btn invisible" type="button" name="button">
  Pause</button>

<button class="break-btn invisible" type="button" name="button">
  Take Break</button>

<button class="skip-break-btn invisible" type="button" name="button">
  Skip Break</button>

<h4>Pomos Done: <span class="pomos-done"></span></h4>


<%- include partials/footer %>
