<%- include partials/header %>

<a href="/register">Register</a>
<a href="/login">Login</a>
<a href="/logout">Logout</a>

<h1>
  <span class="min"></span>:
  <span class="sec"></span>
</h1>

<button class="start-btn" type="button" name="button">
  Start</button>

<button class="pause-btn invisible" type="button" name="button">
  Pause</button>

<button class="break-btn invisible" type="button" name="button">
  Take Break</button>

<button class="skip-break-btn invisible" type="button" name="button">
  Skip Break</button>

<h4>Pomos Done: <span class="pomos-done"></span></h4>

<div class="alarmSounds">
  <h1>Alarm Sounds</h1>
  <div class="">
    <label for="">
      <input type="radio" name="alarmSound" value="Default" checked>
       Default
    </label>
  </div>

  <div class="">
    <label for="">
      <input type="radio" name="alarmSound" value="Drop">
       Drop
    </label>
  </div>

  <div class="">
    <label for="">
      <input type="radio" name="alarmSound" value="Frog">
       Frog
    </label>
  </div>

  <div class="">
    <label for="">
      <input type="radio" name="alarmSound" value="Holiday">
       Holiday
    </label>
  </div>

  <div class="">
    <label for="">
      <input type="radio" name="alarmSound" value="Horse">
       Horse
    </label>
  </div>

  <div class="">
    <label for="">
      <input type="radio" name="alarmSound" value="Spring">
       Spring
    </label>
  </div>

</div>

<br>
<hr>
<br>

<div class="pomoUpSounds">
  <h1>PomoUp Sounds</h1>
  <div class="">
    <label for="">
      <input type="radio" name="pomoUpSound" value="Default" checked>
       Default
    </label>
  </div>

  <div class="">
    <label for="">
      <input type="radio" name="pomoUpSound" value="Coin">
       Coin
    </label>
  </div>

  <div class="">
    <label for="">
      <input type="radio" name="pomoUpSound" value="LevelUp">
       LevelUp
    </label>
  </div>

  <div class="">
    <label for="">
      <input type="radio" name="pomoUpSound" value="Shiver">
       Shiver
    </label>
  </div>

</div>


<%- include partials/footer %>
