<%- include partials/header %>

<!-- Main Timer Panel -->
<div class="container text-center border rounded py-3 mt-5">
  <!-- Time Display -->
  <h1>
    <span class="min"></span>:
    <span class="sec"></span>
  </h1>

  <!-- Start Pomo button -->
  <button class="start-btn btn btn-primary" type="button" name="button">
    Start Pomo</button>

  <!-- Pause Pomo button -->
  <button class="pause-btn invisible btn btn-secondary" type="button" name="button">
    Pause Pomo</button>

  <!-- Take break button -->
  <button class="break-btn invisible btn btn-success" type="button" name="button">
    Take Break</button>

  <!-- skip break 'link' -->
  <a class="skip-break-btn invisible nav-link">
    Skip Break</a>

  <!-- pomos done display -->
  <h4>Pomos Done: <span class="pomos-done"></span></h4>
</div>


<!-- Slide Toggle for Sound Options -->
<div class="container text-center">
  <a class="btn btn-outline-secondary btn-sm mt-3"
  data-toggle="collapse"
  href="#collapse"
  aria-expanded="false"
  aria-controls="collapse">
  Sound Options
  </a>
</div>


<!-- Sound Options -->
<div class="collapse" id="collapse">
  <div class="alarmSounds card sound-card my-3 mx-auto">
    <h3 class="card-header text-center">Times Up Sounds</h3>

      <div class="d-flex flex-column mx-auto my-2">

        <label for="">
          <input type="radio" name="alarmSound" value="Default">
           Default
        </label>

        <label for="">
          <input type="radio" name="alarmSound" value="Drop">
           Drop
        </label>

        <label for="">
          <input type="radio" name="alarmSound" value="Frog">
           Frog
        </label>

        <label for="">
          <input type="radio" name="alarmSound" value="Holiday">
           Holiday
        </label>

        <label for="">
          <input type="radio" name="alarmSound" value="Horse">
           Horse
        </label>

        <label for="">
          <input type="radio" name="alarmSound" value="Spring">
           Spring
        </label>
      </div>

  </div>

  <div class="pomoUpSounds card sound-card mx-auto">
    <h3 class="card-header text-center">Pomos Done Sound</h3>
    <div class="d-flex flex-column mx-auto my-2">

      <label for="">
        <input type="radio" name="pomoUpSound" value="Default">
         Default
      </label>

      <label for="">
        <input type="radio" name="pomoUpSound" value="Coin">
         Coin
      </label>

      <label for="">
        <input type="radio" name="pomoUpSound" value="LevelUp">
         LevelUp
      </label>

      <label for="">
        <input type="radio" name="pomoUpSound" value="Shiver">
         Shiver
      </label>
    </div>

  </div>
</div>


<%- include partials/footer %>
