<%- include partials/header %>

    <h1>Login Form</h1>

    <form class="" action="/login" method="post">
      <input type="email" name="username" placeholder="Email">
      <input type="password" name="password" placeholder="Password">
      <button type="submit" name="button">Log in</button>
    </form>

    <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
      <i class="fab fa-google"></i>
      Sign In with Google
    </a>

    <a class="btn btn-block btn-social btn-facebook" href="/auth/google" role="button">
      <i class="fab fa-facebook"></i>
      Sign In with Facebook
    </a>


<%- include partials/footer %>
