<%- include partials/header %>

    <h1>Secrets Page</h1>
    <p>You are logged in</p>
    <a href="/logout">Click here to logout</a>
    <a href="/">Click here to go back to timer</a>

<%- include partials/footer %>
