.invisible {
  display: none;
}

.sound-card {
  width: 35%;
}

.pomo-up {
  color: darkgreen;
  border: 1px solid green;
  border-radius: 100%;
  padding: 4px;
}

.all-time-table {
  width: 50%;
}

.graph-box {
  width: 75%;
  height: 25rem;
  margin: 0 auto;
}

.graph-item {
  background-color: yellowgreen;
  border: 1px solid lightgrey;
  width: 100%;
  padding: 5px 0;
}

.graph-item-empty {
  background-color: lightgrey;
  width: 100%;
  padding: 5px 0;
}

.pomo-date {
  font-family: monospace;
}
