/* Site Wide */
html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

/* MASTER CONTAINER */
.master-container {
  overflow: hidden;
  background-color: transparent;
}

@media only screen and (min-width: 1080px) {
  .master-container {
    margin: 0 auto;
    width: 1080px;
    height: 100vh;
  }

  .fixed-top {
    width: 1080px;
  }

  .fixed-bottom {
    margin: 0 auto;
    width: 1080px;
  }
}

.sub-master-container {
  overflow: scroll;
  height: 90vh;
}


/* HEADER NAVBAR CLASSES =======================*/
.navbar-brand {
  font-family: 'Crimson Pro', serif;
  font-size: 2.2rem;
  font-weight: bold;
}

.fixed-top .nav-link, .fixed-bottom .nav-link {
  font-family: 'Crimson Pro', serif;
  font-size: 2rem;
}

.fixed-top {
  position: relative;
  z-index: 1;
}

/* FOOTER NAVBAR CLASSES =========================*/

.user-stats-link {
  text-transform: capitalize;
}

#register-form, #login-form {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.85);
  z-index: 3;
}

.pop-up-card {
  position: absolute;
  width: 25rem;
  left: 50%;
  margin-left: -12.5rem;
  margin-top: 15rem;
}

.register-card .fa-window-close {
  color: grey;
}

/* FRONT PAGE CLASSES ================================ */
.timer-container {
  margin-top: 0;
  width: 100%;
}

.pomos-done-text {
  font-size: 2rem;
  color: grey;
  text-transform: full-width;
  font-weight: lighter;
}

.time-display {
  font-size: 9rem;
  margin: 2.8rem 0 3rem 0;
}

.invisible {
  display: none;
}

a.start-btn.fa.fa-play-circle {
  color: darkgreen;
}

a.pause-btn.fas.fa-pause-circle {
  color: grey;
}

.pomo-up {
  color: darkgreen;
  border: 2px solid darkgreen;
  background-color: white;
  border-radius: 100%;
  padding: 2px 6px;
}

.front-page-note {
  font-size: 0.8rem;
  color: grey;
}


/* STATS PAGE CLASSES =============================== */


.all-time-table {
  width: 50%;
}

.graph-box {
  width: 75%;
  height: 25rem;
  margin: 0 auto;
}

.graph-item {
  background-color: yellowgreen;
  border: 1px solid lightgrey;
  width: 100%;
  padding: 5px 0;
}

.graph-item-empty {
  background-color: lightgrey;
  width: 100%;
  padding: 5px 0;
}

.pomo-date {
  font-family: monospace;
}

/* TIME SETTINGS PAGE ======================== */
div h3 {
  font-family: 'Crimson Pro', serif;
}

.card-size {
  width: 30%;
  min-width: 25rem;
}

.time-card .form-control-lg {
  width: 4.8rem;
  text-align: center;
}

/* ABOUT PAGE ================================ */

.about-card {
  width: 35%;
  min-width: 35rem;
  max-width: 45rem;
  line-height: 1.8;
}

.about-card p, .about-card li {
  font-family: 'Crimson Pro', serif;
  font-size: 1.25rem;
}

.question {
  font-size: 2.1rem;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}
